<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Endpoints</h2>
<h3>/</h3>
<div>This is the index. You're looking at it.</div>
<h3>/states</h3>
<div>Returns a JSON array where each element corresponds to data for a US state or territory.</div>
<h3>/states/{state}</h3>
<div>Returns a JSON object corresponding to the requested state or territory (case-insensitive).</div>
<br />
<div style="font-size:8px">Remember to boycott Black Friday and Cyber Monday to show support for the working class.</div>
</body>
</html>